body {
	font-family: Arial;
	width: 100%;
}

.bar {
	fill: blueviolet;
	stroke: black;
}

.centered {
	text-align: center;
}

.flex-row {
	display: flex;
	flex-direction: row;

}

.flex-column {
	display: flex;
	flex-direction: column;
}

#left-column {
	flex: 60%;
}

#right-column {
	flex: 40%;
}

circle {
	fill: darkred;
	stroke: white;
	stroke-width: 2;
}
.hovered {
	fill: white;
	stroke: darkred;
}

.clicked {
	stroke: blueviolet;
	stroke-width: 3;
}

.tooltip {
  position: absolute;
  background-color: grey;
  border:  solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
}
